.detailsmain{
    padding: 1rem;
}
.dtback{
    background-color: var(--yellow2);
    padding: .5rem 1rem;
    border-style: none;
    color: var(--white);
    cursor: pointer;
}
.detpro{
    color: var(--yellow2);
    font-size: 1.5rem;
    font-family: "poppinsbold";
    text-transform: uppercase;

}
.det{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.detdesc{
    width: 50%;
    color: var(--grey3);
    line-height: 1.3rem;
    font-family: "poppinsregular";
    font-size: .8rem;
    text-align: justify;
    margin: 1rem;
    background-color: var(--black1);
    padding: 1rem;
    border-radius: .5rem;
}
.detims{
    color: var(--grey3);
    font-size: 1.1rem;
    font-family: "poppinsmedium";
}
.detvideo{
    width: 100%;
    height: 300px;
}
.img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
 
  @media only screen and (max-width: 600px) {
        .detdesc{
            width: 90%;
        }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
