.revmain{
    padding: 1rem;
}
.adminrevmain{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.delete{
    font-size: .8rem;
    border:1px solid var(--yellow2);
    padding: .5rem 1rem;
    color: var(--grey1);
    margin-top: .5rem;
    margin-left: .5rem;
    cursor: pointer;
    background-color: var(--black1);
}
.revmain h3{
    color: var(--yellow2);
    font-size: 1.2rem;
    text-align: center;
}

.reviewprofile{
    height: 200px;
    width: 270px;
    object-fit: fill;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: .5rem;
}
.reviewprofileadmin{
    height: 200px;
    width: 270px;
    object-fit: fill;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.revcard{
    height: 240px;
    width: 270px;
    background-color: var(--black1);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 1rem;
}

    
    @media only screen and (max-width: 600px) {
      
        
    }
    
    